<!doctype html>
<html lang="en">
    <%- include('partials/_head', { title: 'Home' }); %>
    <body>
        <%- include('partials/_navbar'); %>
        <div class="container">
            <!-- Form with a single textbox field with a placeholder "Tweet to the world!" in addition to a "Post" button that POSTs to /tweet -->
            <form action="/tweet" method="POST" class="new_tweet">
                <label>Tweet:</label>
                <textarea required placeholder="Tweet to the world!" rows="5" name="tweet"></textarea>
                <button type="submit">Post</button>
            </form>
            <div class="tweets">
                <% tweets.forEach(tweet => { %>
                    <div class="tweet">
                        <span class="tweet_username"><%= tweet.username %></span>
                        <span class="tweet_text"><%= tweet.text %></span>
                        <span class="tweet_date"><%= format(tweet.createdAt, 'yyyy-MM-dd HH:mm') %></span>
                    </div>
                <% }); %>
            </div>
        </div>
    </body>
</html>