<!doctype html>
<html lang="en">
    <%- include('partials/_head', { title: 'Home' }); %>
    <body>
        <%- include('partials/_navbar'); %>
        <div class="container">
            <div class="tweets">
                <% tweets.forEach(tweet => { %>
                    <div class="tweet">
                        <span class="tweet_username"><%= tweet.username %></span>
                        <span class="tweet_text"><%= tweet.text %></span>
                        <span class="tweet_date"><%= format(tweet.createdAt, 'yyyy-MM-dd HH:mm') %></span>
                    </div>
                <% }); %>
            </div>
        </div>
    </body>
</html>